body {
    font-family: Arial, Helvetica, sans-serif;    
}

.form input,
select {
    padding: 0.3em;
    font-size: 1em;
    
}
select {
    margin: 1em;
}
.form.request input,
.form.response input {
    width: 300px;
}
ul {
    list-style: none;
}

.attribute-label {
    font-size: 1.2em;
    font-weight: 700;
}

.form.temp {
    position: fixed;
    top: 2em;
    right: 2em;
}

.suffix {
    color: rgb(134, 134, 134);
    font-size: 1.2em;
}

.header {
    margin-bottom: 2em;
}

.header a {
    padding: 1em;
    display: inline-block;
}

.header a:hover {
    background-color: rgb(235, 236, 240);
}


.main {
    display: flex;
}
.in, .out {
    min-width: 30vw;
    padding: 2em;
    background-color: rgb(241, 241, 241);
    margin-left: 1em;
}